services:
  cpp-backend-template:
    container_name: cpp-backend-template
    build:
      context: .
    restart: unless-stopped
    ports:
      - "${PORT}:${PORT}"
    environment:
      - PORT=${PORT}
      - BUILD_TYPE=${BUILD_TYPE}
