services:
  cpp-backend-template:
    container_name: cpp-backend-template
    build:
      context: .
      args:
        BUILD_TYPE: ${BUILD_TYPE}
    restart: unless-stopped
    ports:
      - ${PORT}:${PORT}
    environment:
      PORT: ${PORT}
